# Activar el motor de reescritura
RewriteEngine On

# Quitar la extensión .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

# Redirigir la raíz del sitio a index.php
RewriteRule ^$ index.php [L]

# URLs amigables para detalles de producto
RewriteRule ^DetalleProducto_([0-9]+)$ detalle-producto.php?id=$1 [L,QSA]

# URLs amigables para categorías de productos
RewriteRule ^Productos/([a-zA-Z0-9_-]+)$ productos.php?categoria_slug=$1 [L,QSA]
RewriteRule ^Productos/([a-zA-Z0-9_-]+)/pagina/([0-9]+)$ productos.php?categoria_slug=$1&page=$2 [L,QSA]

# Redirigir URLs amigables
RewriteRule ^Nosotros$ about.php [L]
RewriteRule ^Contacto$ contact.php [L]
RewriteRule ^Servicios$ services.php [L]
RewriteRule ^Productos$ productos.php [L]
RewriteRule ^Inicio$ index.php [L]
RewriteRule ^InicioDeSesion$ login.php [L]
RewriteRule ^Administrador$ admin.php [L]
RewriteRule ^AdministradorCategorias$ admin-categorias.php [L]
RewriteRule ^AdministradorOfertas$ admin-ofertas.php [L]
RewriteRule ^AdministradorDestacados$ admin-destacados.php [L]
RewriteRule ^AdministradorStock$ admin-stock.php [L]
RewriteRule ^AdministradorVentas$ admin-ventas.php [L]
RewriteRule ^Cliente$ account.php [L]
RewriteRule ^Registro$ login-clientes.php [L]

# Agregar la regla para contraseña
RewriteRule ^CambiarContraseña$ cambiar-contraseña.php [L]
RewriteRule ^RecuperarContraseña$ recuperar-contraseña.php [L]
RewriteRule ^CambiarContraseña/(.*)$ cambiar-contraseña.php?token=$1 [L,QSA]
