# Activar el motor de reescritura
RewriteEngine On

# Quitar la extensión .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

# Redirigir la raíz del sitio a index.php
RewriteRule ^$ index.php [L]

# Redirigir URLs amigables
RewriteRule ^Nosotros$ about.php [L]
RewriteRule ^Contacto$ contact.php [L]
RewriteRule ^Servicios$ services.php [L]
RewriteRule ^Inicio$ index.php [L]
RewriteRule ^InicioDeSesion$ login.php [L]
RewriteRule ^Administrador$ admin.php [L]
RewriteRule ^AdministradorCategorias$ admin-categorias.php [L]
RewriteRule ^AdministradorOfertas$ admin-ofertas.php [L]
RewriteRule ^AdministradorDestacados$ admin-destacados.php [L]

# Nueva regla para categorías
RewriteRule ^Categorias_([^/]+)$ categorias.php?nombre=$1 [L,QSA]